:root {
  --primary: #f0e7d5;
  --darkvanilla: #d5ccab;
  --camouflagegreen: #878568;
}

body {
  background-color: #f0e7d5;
  position: relative;
  left: 10px;
}

.head {
  display: flex;
  text-align: center;
  padding: 1rem 15%;
  background: var(--camouflagegreen);
  border-bottom: 1px solid #9e9e9e;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15%;
  background: #f0e7d5;
  border-bottom: 1px solid #878568;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar {
  font-size: 2rem;
  font-weight: 700;
  color: var(--camouflagegreen);
}

.navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  margin: 0rem;
}

* {
  text-decoration: none;
  margin: 0rem;
}

.navbar .navbar-nav a {
  color: var(--camouflagegreen);
  display: inline-block;
  font-size: 1.4rem;
  margin: 0rem;
}

.titik {
  position: relative;
  right: 10px;
  border-bottom: 1px solid #9e9e9e;
}

.url {
  position: relative;
  left: 370px;
  top: 10px;
  background-color: #878568;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary);
}

.nama {
  position: relative;
  right: 10px;
  padding: 1rem 7%;
  background: #f0e7d5;
  border-top: 1px solid #9e9e9e;
}

.dibuat {
  text-align: center;
}

.isi {
  float: right;
  width: 85%;
  padding: 0;
  align-items: center;
  text-align: center;
}

.konten1 {
  text-align: center;
  float: left;
  width: 15%;
  height: 2700px;
  padding: 0;
  background-color: var(--camouflagegreen);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999999;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.titikk {
  position: relative;
  right: 10px;
}

.sj {
  background-color: #878568;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.sjt {
  position: relative;
  top: 5px;
  background-color: #878568;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary);
  text-align: justify;
  width: 73%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.geo {
  background-color: #878568;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.geot {
  position: relative;
  top: 5px;
  background-color: #878568;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary);
  text-align: justify;
  width: 73%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.ws {
  background-color: #878568;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.wst {
  position: relative;
  top: 5px;
  background-color: #878568;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary);
  text-align: justify;
  width: 73%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.wstt {
  background-color: #878568;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.wsttt {
  position: relative;
  top: 5px;
  background-color: #878568;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary);
  text-align: justify;
  width: 73%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.kl {
  background-color: #878568;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.klt {
  position: relative;
  top: 5px;
  background-color: #878568;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary);
  text-align: justify;
  width: 73%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.bd {
  background-color: #878568;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.bdt {
  position: relative;
  top: 5px;
  background-color: #878568;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary);
  text-align: justify;
  width: 73%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.ktx {
  color: var(--primary);
  position: relative;
  top: 15px;
}
